html, body {
    background-image: linear-gradient(to bottom, rgba(138, 157, 194), rgba(177, 95, 159));
/*    background-attachment: fixed;*/
    margin: 0;
    padding: 0;
     padding-bottom: 100px; 
    overflow-x: hidden; /* Prevent horizontal scrolling caused by moving clouds */
}


#balloon {
    width: 301px; /* Adjust based on your image size */
    height: 450px; /* Adjust based on your image size */
    background-image: url('images/MCTLogo.png'); /* Path to your balloon image */
    background-size: cover;
    position: absolute; 
    left: 50%;
    top:10%;
    transform: translate(-50%, -50%);
    animation: float 5s ease-in-out infinite;
    z-index: 2; 
}


.clouds {
    width: 547px; /* Adjust based on your cloud image size */
    height: 198px; /* Adjust based on your cloud image size */
    background-image: url('images/Cloud1.png'); /* Path to your cloud image */
    background-size: cover;
    position: absolute;
    left:100%;
    animation: moveClouds 20s linear infinite;
}


@keyframes float {
    0%, 100% { transform: translateY(0) translateX(-50%); }
    50% { transform: translateY(-20px) translateX(-50%); }
}

@keyframes moveClouds {
     0% { left: 100%; } /* Start off-screen to the right */
    100% { left: -100%; } /* End off-screen to the left */
}

.spacer {
    height: 100vh; /* 100% of the viewport height */
}

#tourGrid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 60px; /* Space between grid items */
    text-align: center; /* Center the text */
    max-width: 600px; /* Maximum width of the grid */
    margin: auto; /* Center the grid horizontally */
    top:100%;
    padding-bottom: 100px; 
}

/* Media query for tablets and desktops */
@media (min-width: 768px) { /* Adjust the pixel value as needed */
    #tourGrid {
        grid-template-columns: repeat(2, 1fr); /* Two columns grid when the screen is wider */
    }
}

.tour-image {
    margin: auto; /* Center the circle horizontally */
    width: 150px; /* Size of the circle */
    height: 150px; /* Size of the circle */
    background-color: white; /* Circle color */
    border-radius: 50%; /* Make it round */
    padding: 5px;
}

.tour-info h3, .tour-info p {
    margin: 0; /* Remove default margins */
    padding: 5px 0; /* Add some spacing */
    font-family: lato-regular;
}

.tour-header {
    text-align:center; 
    padding-top:20px;
    font-family:lato-regular
}
.tour-header h1{
    font-size:80px;
}

.tour {
    padding: 60px 0; /* Space above and below each tour item */
}


.contact-us {
    text-align: center;
    margin: 40px 0;
}

.contact-us h2{
    font-family: lato-regular;
    font-size:60px;

}
.social-icon {
    margin: 0 40px;
    font-size: 50px; /* Icon size */
    color: #000; /* Icon color */
}

.social-icon:hover {
    color: #555; /* Icon hover color */
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

